developer.4d.com/docs/
Extract Text/userPreferences.*
Extract Text/Project/DerivedData/*
Extract Text/Data/*
mcp_console_render.html
cache/
__pycache__/
*.pyc
tools/
Project/[dD][aA][tT][aA]/
Project/DerivedData/
Project/Libraries/
Project/userPreferences.*/
